<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chipto.flag1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chedocode" />
        <activity android:name=".decode" />
        <activity android:name=".diemsorce" />
        <activity android:name=".ketqua" />
        <activity android:name=".khocode" />
        <activity android:name=".sdecode" />
        <activity android:name=".skhocode" />
        <activity android:name=".svuacode" />
        <activity android:name=".phanchiacode"/>
        <activity android:name=".continentcode"/>
        <activity android:name=".africacode"/>
        <activity android:name=".auaoccode"/>
        <activity android:name=".asiancode"/>
        <activity android:name=".europecode"/>
        <activity android:name=".northamcode"/>
        <activity android:name=".southamcode"/>
        <activity android:name=".ketquaccode"/>
        <activity android:name=".vuacode" />
        <activity android:name=".nhintendoanhinhcode">
        <!--<activity android:name=".menupicchon"-->
            <!--android:theme="@android:style/Theme.Holo.Dialog"/>-->
        <!--<activity android:name=".findpiccode">-->

        </activity>
    </application>

</manifest>